<div class="loginBg">
    <div class="loginForm">
        <div class="textCenter heading">LOGIN</div>

        <input type="text" class="username" placeholder="username@domain.com" [(ngModel)] = "username" (keyup)="fieldChange()" />
        <input type="password" class="password" placeholder="**********" [(ngModel)] = "password" (keyup)="fieldChange()" />
        <span class="error-label textCenter" [ngClass]="(error=='')?'hidden':''">{{error}}</span>
        <div class="registerLink" [routerLink] = "['/register']">CREATE A NEW ACCOUNT</div>
        <button class="login" (click)="login()">Login</button>
    </div>
</div>
