@import "../../../globals.scss";

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;

    li{
        display: inline-block;
        line-height: 80px;
        margin: 0 10px;
        font-weight: 600;
        color: $primaryGreen;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border: none;
    }
}